@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../images/bg.png");
  @screen lg {
    background-size: cover;
  }

  @screen xs {
    background-size: auto;
  }
}
/* styles.css */

@layer components {
  /* Add custom styles for the range input here */
  #range {
    @apply appearance-none block w-full bg-red-200 h-1 rounded-full outline-none cursor-pointer;
  }

  #range::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 bg-red-400 border-2 border-gray-200 rounded-md;
  }

  #range::-moz-range-thumb {
    @apply appearance-none w-6 h-6 bg-red-400 border-2 border-gray-200 rounded-md;
  }
}
* {
  user-select: none;
  scrollbar-width: none;
  -ms-user-select: none;
  -moz-user-select: none;
  scroll-behavior: smooth;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
